* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: "Barlow", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  height: 538px;
  background-size: 375px 538px;
  background-image: url(../assets/images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  padding: 32px 24px;
}
.header_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.principal_text_container {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.title {
  text-align: center;
  font-family: "Fraunces", serif;
  font-weight: 900;
  letter-spacing: 6.25px;
  font-size: 2.5rem;
  color: white;
  margin: 0;
}
.arrow {
  width: 30px;
  height: 108px;
}

.menu {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -250px;
  width: 329px;
  height: 305px;
  background-color: white;
}
.menu::after {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  background-image: linear-gradient(315deg, white 50%, transparent 50% 100%);
  top: -24px;
  right: 0px;
}
.menu__link {
  font-weight: 500;
  font-size: 1.25rem;
  color: #808397;
}
.menu__item {
  margin-bottom: 32px;
}
.menu__linkbutton {
  font-family: "Fraunces", serif;
  font-size: 0.9375rem;
  color: black;
  background-color: #fbd600;
  border-radius: 100px;
  padding: 16px 32px;
}
@media screen and (min-width: 768px) {
  .header {
    width: 1440px;
    height: 800px;
    background-size: 1440px 800px;
    background-image: url(../assets/images/desktop/image-header.jpg);
  }
  .principal_text_container {
    margin: 0;
    gap: 0;
  }
  .title {
    font-size: 56px;
    margin: 120px;
  }
  .arrow {
    margin-top: -40px;
  }
  .menu {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    right: 60px;
    top: 155px;
    width: 467px;
  }
  .menu__hamburguer {
    display: none;
  }
  .menu__link {
    font-size: 18px;
    color: white;
  }
  .menu__linkbutton {
    color: white;
    background-color: rgba(255, 255, 255, 0.267);
    font-size: 15px;
  }
}
.main {
  width: 375px;
}
.egg_image {
  width: 375px;
  height: 312px;
  background-image: url(../assets/images/mobile/image-transform.jpg);
  background-size: 375px 312px;
}
.text__block1 {
  padding: 64px 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title__block {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  font-weight: 900;
  color: #24303e;
  letter-spacing: 0.24px;
}
.text__block {
  font-size: 1.125rem;
  font-weight: 500;
  color: #808397;
  letter-spacing: 0.13px;
  line-height: 30px;
}

.subtitle__block {
  font-family: "Fraunces", serif;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  line-height: 25px;
  color: #24303e;
}
@media screen and (min-width: 768px) {
  .block {
    display: flex;
    flex-direction: row-reverse;
    width: 1440px;
  }
  .egg_image {
    width: 720px;
    height: 600px;
    background-image: url(../assets/images/desktop/image-transform.jpg);
    background-size: 720px 600px;
    background-repeat: no-repeat;
  }
  .text__block1 {
    width: 720px;
    height: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    padding: 165px 158px 110px 157px;
  }
  .text__block {
    text-align: left;
  }
}
.cup_image {
  width: 375px;
  height: 312px;
  background-image: url(../assets/images/mobile/image-stand-out.jpg);
  background-size: 375px 312px;
}
@media screen and (min-width: 768px) {
  .block_2 {
    display: flex;
    flex-direction: row;
    width: 1440px;
  }
  .cup_image {
    width: 720px;
    height: 600px;
    background-image: url(../assets/images/desktop/image-stand-out.jpg);
    background-size: 720px 600px;
    background-repeat: no-repeat;
  }
  .text__block1 {
    width: 720px;
    height: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    padding: 165px 158px 110px 157px;
  }
  .text__block {
    text-align: left;
  }
}
.imagetext__block {
  position: absolute;
  width: 375px;
  height: 600px;
  background-image: url(../assets/images/mobile/image-graphic-design.jpg);
  background-size: 375px 600px;
}
.complet__textimageblock{
position: relative;
top: 398px ;
padding-inline: 24px ;
gap: 27px;
} 
.title__imageblock {

  top: 350px;
  font-size: 1.75rem;
  font-weight: 900;
  font-family: "Fraunces", serif;
  color: #24554a;
  text-align: center;
  letter-spacing: -0.0125rem;
}
.text__imageblock {

  top: 377px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.11px;
  line-height: 27px;
  text-align: center;
  color: #24554A;
}
.imagetext__block2 {
  background-image: url(../assets/images/mobile/image-gallery-orange.jpg);
  width: 375px;
  height: 600px;
  background-size: 375px 600px;
} 